<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="bootstrap-theme" rel="stylesheet" crossorigin="anonymous" />
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ITNews", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")

                @if (Context.User.IsInRole("Admin") || Context.User.IsInRole("Writer"))
                {
                    @Html.ActionLink(Localization.CreatePost, "Create", "Post", new { area = "" }, new { @class = "navbar-brand" });
                }
                @if (Context.User.IsInRole("Admin"))
                {
                    @Html.ActionLink(Localization.AllUsers, "Index", "Users", new { area = "" }, new { @class = "navbar-brand" });
                }
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Русский", "ChangeCulture", new { controller = "Home", culture = "ru", returnUrl = Request.RawUrl })</li>
                        <li>@Html.ActionLink("English", "ChangeCulture", new { controller = "Home", culture = "en", returnUrl = Request.RawUrl })</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right categories-options">
                        <li>
                            <select style="align-self: center" class="form-control" id="theme-switcher">
                                <option>@Localization.Blue</option>
                                <option>@Localization.Red</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ITNews</p>
        </footer>
    </div>

    <script>
        $('#theme-switcher').on('change',
            function () {
                var cookieValue;
                if ($('#theme-switcher').val() === '@Localization.Red')
                {
                    cookieValue = 'Red';
                }
                else
                {
                    cookieValue = 'Blue';
                }
                setCookie('siteTheme', cookieValue);
                document.location.reload(true);
            });
        (function () {
            var chosentheme = getCookie('siteTheme');
            if (chosentheme === 'Blue') {
                $('#bootstrap-theme').prop("href",
                    "https://stackpath.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css");
                $('#theme-switcher').val('@Localization.Blue');
            }
            else {
                $('#theme-switcher').val('@Localization.Red');
                $('#bootstrap-theme').prop("href",
                    "https://stackpath.bootstrapcdn.com/bootswatch/3.3.7/united/bootstrap.min.css");
            }
        })();

        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "") + expires + "; path=/";
        }
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
        function eraseCookie(name) {
            document.cookie = name + '=; Max-Age=-99999999;';
        }
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
