@using PagedList.Mvc;
@model PagedList.IPagedList<Prikhodko.NewsWebsite.Web.Models.PostViewModel>


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

@if (Model != null & Model.Count > 0)
{
    <script>
    $('#titlesort').on("click", function () {

            $.ajax({
            url: "/post/getuserposts/@Model[0].AuthorId?sortOrder=@ViewBag.NameSortParm",
                success: function (content) {
                    $('#posts').html(content);
                }
            })
        })
        $('#categorysort').on("click", function () {
            $.ajax({
                url: "/post/getuserposts/@Model[0].AuthorId?sortOrder=@ViewBag.CategorySortParm",
                success: function (content) {
                    $('#posts').html(content);
                }
            })
        })
        $('#avgratesort').on("click", function () {
            $.ajax({
                url: "/post/getuserposts/@Model[0].AuthorId?sortOrder=@ViewBag.AvgRateSortParm",
                success: function (content) {
                    $('#posts').html(content);
                }
            })
        })
        $('#numberofcommentssort').on("click", function () {
            $.ajax({
                url: "/post/getuserposts/@Model[0].AuthorId?sortOrder=@ViewBag.NumberOfCommentsSortParm",
                success: function (content) {
                    $('#posts').html(content);
                }
            })
        })
        $('#createdsort').on("click", function () {
            $.ajax({
                url: "/post/getuserposts/@Model[0].AuthorId?sortOrder=@ViewBag.CreatedSortParm",
                success: function (content) {
                    $('#posts').html(content);
                }
            })
        })
    </script>
}


<table id="posts" style="margin-top: 15px" class="w3-table-all">
    <tr>
        <th><a id="titlesort">@Localization.Title</a></th>
        <th><a id="categorysort">@Localization.Category</a></th>
        <th><a id="avgratesort">@Localization.AvgRate</a></th>
        <th><a id="numberofcommentssort">@Localization.NumberOfComments</a></th>
        <th><a id="createdsort">@Localization.Created</a></th>
        @if (ViewBag.LetEditAndDelete)
        {
            <th style="cursor:pointer">@Localization.Edit/@Localization.Delete</th>
        }
    </tr>
    @foreach (var post in Model)
    {
        <tr class="item">
            <td><a href="/post/details/@post.Id">@post.Title</a></td>
            <td>@post.Category</td>
            <td>@post.AvgRate</td>
            <td>@post.Comments.Count</td>
            <td>@post.Created</td>
            @if (ViewBag.LetEditAndDelete)
            {
                <td>
                    <a href="@Url.Action("Edit", "Post", new {id = post.Id})">@Localization.Edit</a>
                    <a href="@Url.Action("Delete", "Post", new {id = post.Id, userId = post.AuthorId})">@Localization.Delete</a>
                </td>
            }
        </tr>
    }
</table>
<br />
@*@using (Html.BeginForm())
    {
        <p>
            @Localization.FindByName: @Html.TextBox("SearchString")
            <input type="submit" value="@Localization.Search" />
        </p>
    }*@

@Localization.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Localization.Of @Model.PageCount

@Html.PagedListPager(Model,
    page => Url.Action("GetUserPosts", new { page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.PageNumbersOnly,
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "Get",
            UpdateTargetId = "postscontent"
        }))

