@using Prikhodko.NewsWebsite.Web.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<Prikhodko.NewsWebsite.Web.Models.PostViewModel>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://www.w3schools.com/lib/w3.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<table id="posts" style="margin-top: 15px" class="w3-table-all">
    <tr>
        <th onclick="w3.sortHTML('#posts', '.item', 'td:nth-child(1)')" style="cursor:pointer">@Localization.Title</th>
        <th onclick="w3.sortHTML('#posts', '.item', 'td:nth-child(2)')" style="cursor:pointer">@Localization.Category</th>
        <th onclick="w3.sortHTML('#posts', '.item', 'td:nth-child(3)')" style="cursor:pointer">@Localization.AvgRate</th>
        <th onclick="w3.sortHTML('#posts', '.item', 'td:nth-child(4)')" style="cursor:pointer">@Localization.NumberOfComments</th>
        <th onclick="w3.sortHTML('#posts', '.item', 'td:nth-child(5)')" style="cursor:pointer">@Localization.Created</th>
        @if (ViewBag.LetEditAndDelete)
        {
    <th style="cursor:pointer">@Localization.Edit/@Localization.Delete</th>
        }
    </tr>
    @foreach (var post in Model)
    {
        <tr class="item">
            <td><a href="/post/details/@post.Id">@post.Title</a></td>
            <td>@post.Category</td>
            <td>@post.AvgRate</td>
            <td>@post.Comments.Count</td>
            <td>@post.Created</td>
            @if (ViewBag.LetEditAndDelete)
            {
                <td>
                    <a href="@Url.Action("Edit", "Post", new {id = post.Id})">@Localization.Edit</a>
                    <a href="@Url.Action("Delete", "Post", new {id = post.Id, userId = post.AuthorId})">@Localization.Delete</a>
                </td>
            }
        </tr>
    }
</table>
<br />

@Localization.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Localization.Of @Model.PageCount

@Html.PagedListPager(Model,
    page => Url.Action("GetUserPosts", new { page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.PageNumbersOnly,
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "Get",
            UpdateTargetId = "postscontent"
        }))