@model Prikhodko.NewsWebsite.Web.Models.PostViewModel

<div class="row container">
    <div class="col-md-10">
        <h1>@Model.Title</h1>

        <div class="container">

            <div class="col-md-8">
                <h4>@Model.Description</h4>
            </div>

            <div class="col-md-2">
                Category:
                @Html.DisplayFor(model => model.Category)
            </div>
        </div>

        <div class="panel panel-default" id="content">
        </div>

        <div class="container">
            <div class="col-md-4">
                @foreach (var tag in Model.Tags)
                {
                    <a href="#">@tag</a>;
                }
            </div>
            <div class="col-md-4">
                @{
                    if (@Model.RatedByCurrentUser)
                    {
                        <div class="col-md-4">Your rate:</div>
                    }
                }
                <div class="col-md-1">
                    <div class="content-rate">
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                By:
                @Html.ActionLink((string)ViewBag.Author.ApplicationIdentityUser.UserName, "Details", "Account")
            </div>
            <div class="col-md-10">
                <div class="col-md-5"></div>
                <div class="col-md-5">Average rate: @Model.AvgRate</div>
            </div>
        </div>

    </div>
    <div class="col-md-2">
        @Html.Action("GetUserBar", "Users")
    </div>
</div>

<div class="container">
    <div class="col-md-10">
        <textarea id="comment_input" class="col-md-10"></textarea>
        <button id="sendcomment">Send</button>
    </div>
    <div name="comments" class="col-md-10">
        @{
            foreach (var comment in Model.Comments)
            {
                <div>
                    @Html.Action("GetCommentPartial", "Comments", comment)
                </div>
            }
        }
    </div>
</div>

<div id="comment_template" class="comment-css" style="display: none;">
    <div class="row container-fluid">
        <div class="col-md-11">
            <div>
                <a href=#></a>
            </div>
            <div>

            </div>
        </div>
        <div class="col=md-1">
            <div>
                <button id="upvote">+</button>
                <span></span>
                <button id="downvote">-</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/rater.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/Scripts/comments-signalr.js"></script>
    <script src="~/signalr/hubs"></script>
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
    
    <script>
        var converter = new showdown.Converter(),
            text      = "@Model.Content",
            html = converter.makeHtml(text);
        $('#content').append(html);
    </script>

    <script>
        if ('@ViewBag.UserAuthenticated' === 'True') {
            var rate_value = '@Model.CurrentUserRateValue';
            var options = {
                max_value: 5,
                initial_value: rate_value.replace(",", "."),
                readonly: ('@Model.RatedByCurrentUser' === 'True'), //TODO: this is very unoptimized but js compares C# booleans as strings so I do not know the way around
                step_size: 0.5
            }

            $(".content-rate").rate(options);
            $(".content-rate").on("change",
                function (ev, data) {
                    options = {
                        max_value: 5,
                        initial_value: 0,
                        readonly: true,
                        step_size: 0.5
                    }
                    $(".content-rate").rate("destroy");
                    $(".content-rate").rate(options);

                    $.ajax({
                        url: "/Post/AddRate",
                        data: { rate: data.to, postId: @Model.Id }
                    });
                });
        }
    </script>

    <script>
        $('#sendcomment').click(function(e) {
            e.preventDefault();
            $.ajax({
                url: "/Comments/Add",
                data: {content: $('#comment_input')[0].value, postId: @Model.Id}
            });
        })
    </script>
}