@using Microsoft.AspNet.Identity

<title>@Localization.Manage</title>

@if (ViewBag.Blocked)
{
    <h2 style="color: red">@Localization.ThisAccountWasBlocked</h2>
}

<ul class="nav nav-tabs" style="margin-top: 50px">
    <li class="active"><a id="navgeneral" data-toggle="tab" href="#general">@Localization.General</a></li>
    <li><a id="navposts" data-toggle="tab" href="#posts">@Localization.Posts</a></li>
    <li><a id="navsettings" data-toggle="tab" href="#settings">@Localization.Settings</a></li>
</ul>

<div class="tab-content">
    <div id="general" class="tab-pane fade in active">
    </div>
    <div id="posts" class="tab-pane fade">
    </div>
    <div id="settings" class="tab-pane fade">
    </div>
</div>

@section Scripts {
    <script>
        $("#navgeneral").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Manage/GetAccountGeneralInfoPartial",
                success: function (viewHtml) {
                    $("#general").html(viewHtml);
                }
            });
        })
    </script>

    <script>
        $("#navposts").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Post/GetUserPosts/@Context.User.Identity.GetUserId()",
                success: function (viewHtml) {
                    $("#posts").html(viewHtml);
                }
            });
        })
    </script>

    <script>
        $("#navsettings").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Manage/GetAccountSettingsPartial",
                success: function (viewHtml) {
                    $("#settings").html(viewHtml);
                }
            });
        })
    </script>

    <script>
        // Javascript to enable link to tab
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
        }

        // Change hash for page-reload
        $('.nav-tabs a').on('shown.bs.tab', function (e) {
            window.location.hash = e.target.hash;
        })
    </script>

    <script>
        $(document).ready(function () {
            var currenturl = window.location.href;
            var currentanchor = currenturl.substring(currenturl.indexOf('#')).replace('#', '');
            switch (currentanchor) {
                case 'general':
                    $.ajax({
                        url: "/Manage/GetAccountGeneralInfoPartial",
                        success: function (viewHtml) {
                            $("#general").html(viewHtml);
                        }
                    })
                    break;
                case 'posts':
                    $.ajax({
                        url: "/Post/GetUserPosts/@Context.User.Identity.GetUserId()",
                        success: function (viewHtml) {
                            $("#posts").html(viewHtml);
                        }
                    });
                    break;
                case 'settings':
                    $.ajax({
                        url: "/Manage/GetAccountSettingsPartial",
                        success: function (viewHtml) {
                            $("#settings").html(viewHtml);
                        }
                    });
                    break;
                default:
                    $.ajax({
                        url: "/Manage/GetAccountGeneralInfoPartial",
                        success: function (viewHtml) {
                            $("#general").html(viewHtml);
                        }
                    })
                    break;
            }
        })
    </script>
}

