@model PagedList.IPagedList<Prikhodko.NewsWebsite.Service.Contracts.Models.UserServiceModel>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://www.w3schools.com/lib/w3.js"></script>

<title>@Localization.AllUsers</title>

<input type="text" id="searchusers" onkeyup="myFunction()" placeholder="@Localization.StartInputingName" style="margin-top: 15px" />

<table id="users" style="margin-top: 15px" class="w3-table-all">
    <tr>
        <th onclick="w3.sortHTML('#users', '.item', 'td:nth-child(1)')" style="cursor:pointer">@Localization.Username</th>
        <th onclick="w3.sortHTML('#users', '.item', 'td:nth-child(2)')" style="cursor:pointer">@Localization.WriterPermissions</th>
        <th onclick="w3.sortHTML('#users', '.item', 'td:nth-child(3)')" style="cursor:pointer">@Localization.AdminPermissions</th>
        <th onclick="w3.sortHTML('#users', '.item', 'td:nth-child(4)')" style="cursor:pointer">@Localization.Block</th>
        <th onclick="w3.sortHTML('#users', '.item', 'td:nth-child(5)')" style="cursor:pointer">@Localization.Delete</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr class="item" id="tablerow @user.Id">
            <td><a href="/users/details/@user.Id">@user.ApplicationIdentityUser.UserName</a></td>
            @if (user.ApplicationIdentityUser.Roles.Contains("Writer"))
            {
                <td><input class="writercheckbox" id="writer @user.Id" type="checkbox" checked="checked" /></td>
            }
            else
            {
                <td><input class="writercheckbox" id="writer @user.Id" type="checkbox" /></td>
            }
            @if (user.ApplicationIdentityUser.Roles.Contains("Admin"))
            {
                <td><input class="admincheckbox" id="admin @user.Id" type="checkbox" checked="checked" /></td>
            }
            else
            {
                <td><input class="admincheckbox" id="admin @user.Id" type="checkbox" /></td>
            }
            @if (user.ApplicationIdentityUser.Roles.Contains("Blocked"))
            {
                <td><input class="blockbutton" id="block @user.Id" type="button" value="Unblock" /></td>
            }
            else
            {
                <td><input class="blockbutton" id="block @user.Id" type="button" value="@Localization.Block" /></td>
            }
            <td><input class="deletebutton" id="delete @user.Id" type="button" value="@Localization.Delete" /></td>
        </tr>
    }
</table>
<br />

@Localization.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Localization.Of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))

@section Scripts {
    <script src="~/Scripts/adminusermanaging.js"></script>

    <script>
        $('.blockbutton').on('click', function (e) {
            e.preventDefault();
            if (this.value === "@Localization.Block") {
                var currentbutton = this;
                $.ajax({
                    url: '/users/block/' + this.id.replace('block ', ''),
                    success: function () {
                        currentbutton.value = "@Localization.Unblock";
                    }
                });
            } else {
                var currentbutton = this;
                $.ajax({
                    url: '/users/unblock/' + this.id.replace('block ', ''),
                    success: function () {
                        currentbutton.value = "@Localization.Block";
                    }
                });
            }
        })
    </script>
}