@model PagedList.IPagedList<Prikhodko.NewsWebsite.Service.Contracts.Models.UserServiceModel>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<title>@Localization.AllUsers</title>


@*<input type="text" id="searchusers" onkeyup="myFunction()" placeholder="@Localization.StartInputingName" style="margin-top: 15px" />*@

<table id="users" style="margin-top: 15px" class="w3-table-all">
    <tr>
        <th>@Html.ActionLink(Localization.Username, "Index", new { sortOrder = ViewBag.NameSortParm })</th>
        <th>@Localization.WriterPermissions</th>
        <th>@Localization.AdminPermissions</th>
        <th>@Localization.Block</th>
        <th>@Localization.Delete</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr class="item" id="tablerow @user.Id">
            <td><a href="/users/details/@user.Id">@user.ApplicationIdentityUser.UserName</a></td>
            @if (user.ApplicationIdentityUser.Roles.Contains("Writer"))
            {
                <td><input class="writercheckbox" id="writer @user.Id" type="checkbox" checked="checked" /></td>
            }
            else
            {
                <td><input class="writercheckbox" id="writer @user.Id" type="checkbox" /></td>
            }
            @if (user.ApplicationIdentityUser.Roles.Contains("Admin"))
            {
                <td><input class="admincheckbox" id="admin @user.Id" type="checkbox" checked="checked" /></td>
            }
            else
            {
                <td><input class="admincheckbox" id="admin @user.Id" type="checkbox" /></td>
            }
            @if (user.ApplicationIdentityUser.Roles.Contains("Blocked"))
            {
                <td><input class="blockbutton" id="block @user.Id" type="button" value="Unblock" /></td>
            }
            else
            {
                <td><input class="blockbutton" id="block @user.Id" type="button" value="@Localization.Block" /></td>
            }
            <td><input class="deletebutton" id="delete @user.Id" type="button" value="@Localization.Delete" /></td>
        </tr>
    }
</table>
<br />

@using (Html.BeginForm())
{
    <p>
        @Localization.FindByName: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

@Localization.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Localization.Of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))

@section Scripts {
    <script src="~/Scripts/adminusermanaging.js"></script>

    <script>
        $('.blockbutton').on('click', function (e) {
            e.preventDefault();
            if (this.value === "@Localization.Block") {
                var currentbutton = this;
                $.ajax({
                    url: '/users/block/' + this.id.replace('block ', ''),
                    success: function () {
                        currentbutton.value = "@Localization.Unblock";
                    }
                });
            } else {
                var currentbutton = this;
                $.ajax({
                    url: '/users/unblock/' + this.id.replace('block ', ''),
                    success: function () {
                        currentbutton.value = "@Localization.Block";
                    }
                });
            }
        })
    </script>
}